.navbar {
    display: flex;
    flex-direction: row;
  }
  
  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight:  bold;
    font-size: 20px;
    outline: none;
    text-decoration: none;
  }